# Sepolia RPC URL (Alchemy, Infura, QuickNode, etc.)
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/YOUR_PROJECT_ID

# Deployer private key(s)
PRIVATE_KEYS=YOUR_WALLET_PRIVATE_KEY,ANOTHER_WALLET_PRIVATE_KEY5(optional, for multi-signer)

# Etherscan API key (optional, for contract verification)
ETHERSCAN_API_KEY=YOUR_ETHERSCAN_API_KEY

MULTISIG_ADDRESS=MULTISIG_CONTRACT_ADDRESS
SHOP_ADDRESS=SHOP_CONTRACT_ADDRESS